asgiref==3.11.0
dj-database-url==3.1.0
Django==6.0
django-stubs-ext==5.2.8
djangorestframework==3.16.1
gunicorn==24.1.1
librt==0.7.7
mypy_extensions==1.1.0
packaging==26.0
pathspec==0.12.1
psycopg2==2.9.11
psycopg2-binary==2.9.11
Pygments==2.19.2
sqlparse==0.5.5
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
tzdata==2025.3
whitenoise==6.11.0
